li {
	color: #FF0000;
}

h1 {
	color: rgb(0,111,1);
}

p{
	color: rgba(0,111,1,.6); /*Alpha property make colors transparent. Setting it to 0 makes it invisible*/
}

body {
	background: url(https://wallpapercave.com/wp/CoixvAv.jpg);
	background-image: cover;
}
